<h1><%= @machine.location %> Vending Machine</h1>
<% unless @machine.snacks.empty? %>
Average Snack Price: $<%= @machine.average_snack_price %>
<% @machine.snacks.each do |snack| %>
<div><%= snack.name %>:<%= snack.money_string %></div>
<%end %>
<% end %>
